Name: proverhub.rpc
ListenOn: 0.0.0.0:38000

Prometheus:
  Host: 0.0.0.0
  Port: 9091
  Path: /metrics

Postgres:
  DataSource: host=34.122.163.215 user=postgres password=zecreyLegendTest@ dbname=zecreylegend port=5432 sslmode=disable

CacheRedis:
  - Host: 10.70.61.91:6379
    Type: node

KeyPath:
  VerifyingKeyPath: [/app/zecrey-legend1.vk,/app/zecrey-legend10.vk]
  KeyTxCounts:    [1, 10]
