Name: prover.cronjob

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=pw dbname=zecreylegend port=5432 sslmode=disable

CacheRedis:
  - Host: redis:6379
    Type: node

KeyPath:
  ProvingKeyPath: [/app/zecrey-legend1.pk,/app/zecrey-legend10.pk]
  VerifyingKeyPath: [/app/zecrey-legend1.vk,/app/zecrey-legend10.vk]
  KeyTxCounts:    [1, 10]
