Name: witness.cronjob

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=pw dbname=zkbas port=5432 sslmode=disable

CacheRedis:
  - Host: redis:6379
    Type: node

TreeDB:
  Driver: memorydb

LogConf:
  ServiceName: witnessgenerator
  Mode: console
  Path: ./log/witnessgenerator
  StackCooldownMillis: 500
  Level: error