Name: prover

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=pw dbname=zkbnb port=5432 sslmode=disable

CacheRedis:
  - Host: redis:6379
    Type: node

KeyPath:
  ProvingKeyPath: [/app/zkbnb1.pk]
  VerifyingKeyPath: [/app/zkbnb1.vk]

BlockConfig:
  OptionalBlockSizes: [1]

LogConf:
  ServiceName: prover
  Mode: console
  Path: ./log/prover
  StackCooldownMillis: 500
  Level: error


