Name: l2blockmonitor.cronjob

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=ZecreyProtocolDB@123 dbname=zecreylegend port=5432 sslmode=disable

CacheRedis:
  - Host: 127.0.0.1:6379
    # Pass: myredis
    Type: node

ChainConfig:
  BSCNetworkRPCSysConfigName: "LocalTestNetworkRpc"
  #  BSCNetworkRPCSysConfigName: "BscTestNetworkRpc"
  BSCPendingBlocksCount: 0