Name: witness

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=pw dbname=zkbnb port=5432 sslmode=disable

TreeDB:
  Driver: memorydb

LogConf:
  ServiceName: witness
  Mode: console
  Path: ./log/witness
  StackCooldownMillis: 500
  Level: error