Name: prover.cronjob

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=ZecreyProtocolDB@123 dbname=zecreylegend port=5432 sslmode=disable

CacheRedis:
  - Host: 127.0.0.1:6379
    Type: node

KeyPath:
  ProvingKeyPath: [/Users/likang/Documents/git/bnb-chain/zkbas/zecrey-legend1.pk, /Users/likang/Documents/git/bnb-chain/zkbas/zecrey-legend10.pk]
  VerifyingKeyPath: [/Users/likang/Documents/git/bnb-chain/zkbas/zecrey-legend1.vk, /Users/likang/Documents/git/bnb-chain/zkbas/zecrey-legend10.vk]
  KeyTxCounts:    [1, 10]

