{
  "RedisConfig": {
    "Address": "127.0.0.1:6379"
  },
  "DefaultRateLimit": {
    "PeriodRateLimitItem": {
      "GlobalRateSecond": 1,
      "GlobalRateQuota": 10,
      "SingleRateSecond": 1,
      "SingleRateQuota": 5,
      "UserRateSecond": 1,
      "UserRateQuota": 2
    },
    "TokenRateLimitItem": {
      "GlobalRate": 10,
      "GlobalBurst": 20,
      "SingleRate": 5,
      "SingleBurst": 10
    }
  },
  "PathRateLimitMap": {
    "/api/v1/accountTxs": {
      "RateLimitType": "LimitByPeriod",
      "PeriodRateLimitItem": {
        "GlobalRateSecond": 1,
        "GlobalRateQuota": 255,
        "SingleRateSecond": 1,
        "SingleRateQuota": 33,
        "UserRateSecond": 1,
        "UserRateQuota": 12
      }
    },
    "/api/v1/blocks": {
      "RateLimitType": "LimitByPeriod",
      "PeriodRateLimitItem": {
        "GlobalRateSecond": 1,
        "GlobalRateQuota": 88,
        "SingleRateSecond": 1,
        "SingleRateQuota": 22,
        "UserRateSecond": 1,
        "UserRateQuota": 8
      }
    },
    "/api/v1/gasAccount": {
      "RateLimitType": "LimitByToken",
      "TokenRateLimitItem": {
        "GlobalRate": 66,
        "GlobalBurst": 122,
        "SingleRate": 0,
        "SingleBurst": 0
      }
    }
  }
}