Name: api-server
Host: 0.0.0.0
Port: 8888

TxPool:
  MaxPendingTxCount: 10000

Postgres:
  DataSource: host=127.0.0.1 user=postgres password=pw dbname=zkbnb port=5432 sslmode=disable

CacheRedis:
  - Host: redis:6379
    Type: node

LogConf:
  ServiceName: api-server
  Mode: console
  Encoding: plain
  Path: ./log/api-server
  StackCooldownMillis: 500
  Level: info

RateLimitConfigFilePath:
  service/apiserver/etc/ratelimit-config.json

CoinMarketCap:
  Url: https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest?symbol=
  Token: cfce503f-fake-fake-fake-bbab5257dac8

MemCache:
  AccountExpiration: 200
  AssetExpiration:   600
  BlockExpiration:   400
  TxExpiration:      400
  PriceExpiration:   3600000
  MaxCounterNum:     100000
  MaxKeyNum:         10000
