Name: desert

Postgres:
  MasterDataSource: host=127.0.0.1 user=postgres password=ZkBNB@123 dbname=zkbnb_desert port=5432 sslmode=disable
  LogLevel: 4

ChainConfig:
  ConfirmBlocksCount: 0
  MaxWaitingTime: 120
  MaxHandledBlocksCount: 5000
  MaxCancelOutstandingDepositCount: 100
  KeptHistoryBlocksCount: 100000
  GasLimit: 5000000

  StartL1BlockHeight: 1
  BscTestNetRpc: http://127.0.0.1:8545
  ZkBnbContractAddress: 0xF170394283cDf43C5A0900Ef6A3af2886108eFa3
  GovernanceContractAddress: 0xE48fC034056eac15F9063b502d08f5968A90E694
  PrivateKey: 7e110218a418b62e4bdd7bda4aff1e5e870b38fa3b4fc5e3462dc3c24e5ec1f4

TreeDB:
  Driver: memorydb
  AssetTreeCacheSize: 1000000

CacheConfig:
  AccountCacheSize: 5000000
  NftCacheSize: 5000000
  MemCacheSize: 100000

KeyPath: /Users/user/.zkbnb/zkbnb.desert1


Address: 0xd757C6bDb5837d721B04DE87c155DBa72c9B076C
#Token: "0x00"
NftIndex: 1
