name: nr-ci-ghcr

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - master
      - testnet
      - develop
      - hotfix*
    paths-ignore:
      - 'docs/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push zkbnb image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/node-real/zkbnb:${{ github.event.pull_request.number }}-${{ github.event.pull_request.head.sha }}